html {
    /* hacky fix for slow 'background-attachment:fixed' performance */
    -webkit-transform: translate3d(0, 0, 0);
}

.backimg {
    background-image: url(../img/park.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: auto;
    /*        display: flex;*/
}

.scrollpage {
    padding-top: 55px;
    background-color: white;
    height: 100%;
    opacity: 0.95;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-inverse {
    border-radius: 0;
}

.navbar-nav {
    text-align: center;
}

.bordered {
    border: 1px solid grey;
    border-radius: 5px;
}

.food-box {
    height: 100px;
}

.centered {
    text-align: center;
    align-items: center;
}

.homenavbtn {
    width: 100%;
    transition: background-color 0.5s;
}

.homenavbtn:hover {
    background-color: gainsboro;
}

.natparkdiv {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.natparkdiv .heading {
    background-color: lightgrey;
    border-bottom: 1px solid lightgrey;
}

.recipe {
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 30vh;
}