<div class="row backimg">
    <div class="col-md-2"></div>
    <div class="col-md-8 scrollpage">
        <div class="centered">
            <div class="row">
                <h1>{{title.heading}}</h1></div>
            <div class="row ">{{title.description}}</div>
            <hr> </div>
        <div class="row centered">
            <p>Welcome to The Brewhause, a testing ground for the full-javascript <b>MEAN</b> stack testing site.</p>
            <p><b>M</b>ongoose - <b>E</b>xpress - <b>A</b>ngularJS - <b>N</b>odeJS </p>
        </div>
        <div class="row centered">
            <hr>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="list-group-item homenavbtn" ng-click="setTabIndex(0)"><span class="glyphicon glyphicon-home pull-left"></span>Home</button>
                <br>
                <button class="list-group-item homenavbtn" ng-click="setTabIndex(1)"><span class="glyphicon glyphicon-glass pull-left"></span>Recipes <i>(in progress)</i></button>
                <br>
                <button class="list-group-item homenavbtn" ng-click="setTabIndex(2)"><span class="glyphicon glyphicon-globe pull-left"></span>National Parks <i>(in progress)</i></button>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row centered">
            <hr>
            <div class="footer">
                <br> <span class="glyphicon glyphicon-copyright-mark"></span> Proudly not copywrited!
                <hr> </div>
        </div>
    </div>
    <script>
        console.log("[INFO] main controller page loaded")
    </script>
</div>