<!-- National Park Tab  -->
<div class="row" ng-controller="ParkController">
    <div class="col-md-2"></div>
    <div class="col-md-8 scrollpage">
        <div class="centered">
            <div class="row">
                <h1>{{title.heading}}</h1></div>
            <div class="row ">- National Parks -</div>
            <hr>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8"> Select a Park
                    <select multiple class="form-control">
                        <option ng-repeat="park in parks" ng-click="setPark($index)">{{park.name}}</option>
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 natparkdiv">
                    <a href data-toggle="collapse" data-target="#collapsediv" ng-click="hidden = !hidden">
                        <div class="row heading">
                            <div ng-show="!hidden">Hide Summary<span class="glyphicon glyphicon-minus" style="float:right; margin-right:10px"></span></div>
                            <div ng-show="hidden">Show Summary<span class="glyphicon glyphicon-plus" style="float:right; margin-right:10px"></span></div>
                        </div>
                    </a>
                    <div id="collapsediv" class="collapse in">
                        <div class="row">
                            <h3>{{selectedPark.name}} National Park</h3>
                            <hr>
                            <div class="col-md-6" style="border-right:1px solid lightgrey">
                                <h4>{{selectedPark.state}} </h4></div>
                            <div class="col-md-6">
                                <div ng-show="selectedPark.visited">
                                    <h4><span style="color:green" class="glyphicon glyphicon-ok"></span> Visited!</h4></div>
                                <div ng-show="!selectedPark.visited">
                                    <h4><span style="color:red" class="glyphicon glyphicon-remove"></span> Not Visited.</h4></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div style="height:300px"> <img src="img/{{selectedPark.image}}" style="max-height:300px; max-width: 400px;" alt="(image.jpg)"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 natparkdiv">
                    <a href data-toggle="collapse" data-target="#mapcontainer" ng-click="maphidden = !maphidden">
                        <div class="row heading">
                            <div ng-show="!maphidden">Hide Map<span class="glyphicon glyphicon-minus" style="float:right; margin-right:10px"></span></div>
                            <div ng-show="maphidden">Show Map<span class="glyphicon glyphicon-plus" style="float:right; margin-right:10px"></span></div>
                        </div>
                    </a>
                    <div id="mapcontainer" class="row collapse in">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <div class="row">(c) 2016 Brewhau5 Industries</div>
            <br> </div>
    </div>
    <!-- Supporting CSS -->
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <!-- Supporting Scripts -->
    <script>
        console.log("[INFO] national page loaded ")
    </script>
    <script>
        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 38.97
                    , lng: -77.39
                }
                , scrollwheel: false
                , zoom: 8
            });
            console.log("[INFO] Google Map loaded");
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXSfsV5WwHaHtlUOyBkSLWMhqeWwERleo&callback=initMap" async defer></script>
</div>